version: 2.1

orbs:
  go: circleci/go@0.2.0

workflows:
  main:
    jobs:
      - test:
          filters: # required due to release dependency
            tags:
              only: /.*/
      - release:
          requires:
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[0-9]+(\.[0-9]+)*(-.*)*/

jobs:
  test:
    executor:
      name: go/default
      tag: "1.14"
    steps:
      - checkout
      - go/load-cache
      - go/mod-download
      - go/save-cache
      - go/test
  release:
    executor:
      name: go/default
      tag: "1.14"
    steps:
      - checkout
      - go/load-cache
      - setup_remote_docker
      - run:
          name: docker login
          command: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USER --password-stdin
      - run:
          name: goreleaser
          command: curl -sL https://git.io/goreleaser | bash
