name: Test

on:
  push:
    branches: [ master ]
    paths-ignore:
      - README.md
  pull_request:
    branches: [ master ]
  schedule:
    - cron: 0 4 * * SUN

jobs:

  build:
    uses: itzg/github-workflows/.github/workflows/go-test.yml@main
    with:
      go-version: "1.22.2"
